h1.title {
    color:brown
}
h2.title {
    front-size: medium;
    color: cadetblue;
    front-family:
}
#main {
    background-color:
    wight: 600px;
    height: 200px;
    front-family:
    front-size: small;
}